@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    background-color: #f7f5e9;
  }
  .text-balance {
    text-wrap: balance;
  }
  h1 {
    @apply text-2xl font-bold text-center;
  }
  h2 {
    @apply text-center text-lg p-2 font-semibold;
  }
  h3 {
    @apply text-lg font-medium italic text-center;
  }
  p {
    @apply my-2 first-letter:ml-8;
  }
  .aboutFigure {
    @apply border-gray-300 flex flex-col p-5 w-[300px];
  }
  .aboutFigureDivImage {
    @apply aspect-square w-full overflow-hidden relative;
  }
  .aboutFigureImage {
    @apply hover:scale-125 transform transition duration-500;
  }

  .aboutFigureCaption {
    @apply bg-gray-800 text-white italic p-3 w-full text-center aspect-square overflow-scroll;
  }
  .animate-bounce-side {
    animation: sidebounce 1s infinite;
  }
  @keyframes sidebounce {
    0%,
    100% {
      transform: translateX(-20%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
